<% include partials/header %>

<h1>This is landing page</h1>

<p>Welcome to YelpCamp</p>

<div>
    <a href="/campgrounds">View all Campgrounds</a>
</div>

<div>
    <a href="/navbar">View navbar</a>
</div>

<% include partials/footer %>